{% extends 'base.html' %}
{% block title %}Add a New Budget{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Budget</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Finance App?</h3>
                    <p>Finance App is an app that allows you to create budgets for a specified period of time, and mini budgets within a budget..</p>
                    <h3>Features</h3>
                    <ul>
                        <li>Create a budget</li>
                        <li>Create a mini-budget within a budget</li>
                        <li>Record your financial transactions.</li>
                        <li>See your financial reports.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
