{% extends 'base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}
{% load static %}
{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Budget Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'detail' budget.id %}">
                        <img src="{% static 'images/dollars.jpg' %}" class="img-responsive">
                    </a>
                    <h1>{{ budget.name }}</h1>
                    <h2>{{ budget.amount }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Mini-Budget Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'detail' budget.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'create_minibudget' budget.id %}">Add New Song</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Mini Budgets</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Progress</th>
                            <th>Record</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for minibudget in budget.minibudget_set.all %}
                            <tr>
                                <td>{{ minibudget.name }}</td>
                                <td>{{ minibudget.amount }}</td>
                                <td>Progress</td>
                                <td>Record</td>
                                <!-- <td>
                                    <form action="{% url 'record' album.id song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ budget.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Record
                                        </button>
                                    </form>
                                </td> -->
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
