{% extends 'base2.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Keep Your Finances in Check</h2>
                <p>Personal finance is hard to do, here comes an easy way to help you achieve financial accountancy.</p>
                <a class="btn btn-outline-light btn-lg" href="{% url 'register' %}" role="button">Get Started</a>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>